iframe {
  display: block;
  border: none;
  height: 75vh;
  width: 100%;
}

.pop-up-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 20%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 999;
  display: block;
}

.target {
  background-color: rgb(63, 81, 91);
}
